---
const { site } = Astro.props;
---
<footer class="nb-footer">
  <div class="container d-flex flex-column flex-md-row justify-content-between gap-2">
    <div>{site.footer?.copyright}</div>
    <div class="d-flex gap-3">
      <a class="text-decoration-none" style="color:inherit" href="#home">Back to top</a>
      <a class="text-decoration-none" style="color:inherit" href={site.topbar?.emailHref}>Email</a>
    </div>
  </div>
</footer>
